<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/public/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/public/css/app.css'>
    
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/coffee-script.js"></script>
    <script src="/public/js/picoModal.js"></script>
    <script src="/public/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/public/js/app.js" type="text/javascript"></script>
    <script src="/public/js/kibo.js" type="text/javascript"></script>
    <script src="/public/js/quizbowl.js" type="text/javascript"></script>
    
    <!-- Three.js files -->
    <script src="/public/js/three.js"></script>
    <script src="/public/coffee/App.coffee" type="text/coffeescript"></script>
    <script src="/public/coffee/RacingApp.coffee" type="text/coffeescript"></script>
  </head>
  <body>
    <div class='navbar'>
      <div class='navbar-inner'>
        <a class='brand' href='#'>Game Server</a>
        <ul class='nav'>
          <li><a id='roomName' href='#'></a></li>
          <!--li><a href='javascript:app.toggleCreateRoomModal()'>Create A Room</a></li-->
          <li><a href='javascript:app.getRooms()'>Join A Room</a></li>
          <li><a href='javascript:app.startGame()'>StartGame</a></li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div id='playingArea'>
        <div id='board'></div>
      </div>
      <div id='quizbowlArea' class='span10'>
        <span id='secondsLeft'>00 seconds left</span>
        <!--span id='currentScore'>Current Score: </span-->
        <div id='questionText'><h3></h3></div>
        <div id='answers'>
          <div class='row'>
            <button id="btn0"></button>
            <button id="btn1"></button>
          </div>
          <div class='row'>
            <button id="btn2"></button>
            <button id="btn3"></button>
        </div>
        </div>

      </div>
      <div class='span3'>
        <textarea id='chat' rows='20' cols='50'></textarea>
        <br/>
        <input type='text' id='message' columns='40'>
        <input type='button' id='sendMessage' value='Send'>
      </div>
    </div>

    <!-- Modals -->

    <div id='create-game-modal' class='modal hide'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
            aria-hidden='true'>&times;</button>
        <h3>Create A Game</h3>
      </div>
      <div class='modal-body'>
        <label for='inputRoomName'>Enter Room Name:</label>
          <input id='inputRoomName' class='xlarge' size='30'
              type='text'></input>
      </div>
      <div class='modal-footer'>
        <button class='btn' class='close' data-dismiss='modal'
            aria-hidden='true'>Cancel</button>
        <button class='btn btn-primary' id='btnCreateRoom'>Create
          Room</button>
      </div>
    </div>

    <div id='name-modal' class='modal hide'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
            aria-hidden='true'>&times;</button>
        <h3>Set Player Name</h3>
      </div>
      <div class='modal-body'></div>
      <div class='modal-footer'>
        <button class='btn' class='close' data-dismiss='modal'
            aria-hidden='true'>Cancel</button>
        <button class='btn btn-primary' id='btnSaveName'>Save</button> 
      </div>
    </div>

    <div id='join-room-modal' class='modal hide'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
            aria-hidden='true'>&times;</button>
        <h3>Join A Room</h3>
      </div>
      <div class='modal-body'>
        <label for='roomSelect'>Select A Room:</label>
        <select id='roomSelect' class='normalSelect'></select>
      </div>
      <div class='modal-footer'>
        <button class='btn' class='close' data-dismiss='modal'
            aria-hidden='true'>Cancel</button>
        <button class='btn btn-primary' id='btnJoinRoom'>Join</button> 
      </div>
    </div>
    <!-- End Modals -->

  </body>
</html>
